.container {
  width: 430px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.chat-box {
  height: 430px;
  border: 1px solid #d1d5db;
  padding: 12px;
  overflow-y: auto;
  background-color: #f9fafb;
  border-radius: 8px;
  margin-bottom: 15px;
}

.message {
  padding: 10px 12px;
  margin-bottom: 10px;
  border-radius: 7px;
  width: fit-content;
  max-width: 85%;
}

.user {
  background: #dbeafe;
  margin-left: auto;
}

.bot {
  background: #e5e7eb;
}
  
.input-area {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #9ca3af;
  border-radius: 6px;
}

button {
  padding: 10px 18px;
  background-color: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1d4ed8;
}
.mic-btn {
  background-color: #ff006e;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 22px;
  cursor: pointer;
  color: white;
  margin-left: 8px;
}
.mic-btn:hover {
  background-color: #d6005c;
}


